<nav class="navbar">
  <div class="logo">ProdigiMind</div>

  <div class="nav-links" [class.active]="menuOpen">
    <a
  routerLink="/homepage"
  routerLinkActive="active-link"
  [routerLinkActiveOptions]="{ exact: true }"
  (click)="closeMenu()">
  Home
</a>
    <a routerLink="/courses" routerLinkActive="active-link" (click)="closeMenu()" (click)="scrollToCourses()">Courses</a>
    <a  routerLinkActive="active-link" (click)="closeMenu()">Services</a>

    <a  routerLinkActive="active-link" (click)="closeMenu()">Projects</a>
    <a  routerLinkActive="active-link" (click)="closeMenu()">About</a>
  </div>

  <a routerLink="/admin" class="admin-btn">Contact us</a>

  <button class="menu-icon" type="button" (click)="toggleMenu()">
    {{ menuOpen ? '✕' : '☰' }}
  </button>
</nav>
