<nav class="navbar">
  <div class="logo">ProdigiMind</div>

  <div class="nav-links" [class.active]="menuOpen">
    <!-- <a
  routerLink="/homepage"
  routerLinkActive="active-link"
  [routerLinkActiveOptions]="{ exact: true }"
  (click)="scrollTo('home')">
  Home
</a> -->
<!-- <a (click)="scrollTo('courses')" routerLinkActive="active-link" >Courses</a> -->
<a
  (click)="scrollTo('home')"
  [class.active-link]="activeSection === 'home'">
  Home
</a>

<a
  (click)="scrollTo('courses')"
  [class.active-link]="activeSection === 'courses'">
  Courses
</a>
<a  routerLinkActive="active-link" (click)="closeMenu()">Services</a>

    <a  routerLinkActive="active-link" (click)="closeMenu()">Projects</a>
    <a  routerLinkActive="active-link" (click)="closeMenu()">About</a>
  </div>

  <a routerLink="/admin" class="admin-btn">Contact us</a>

  <button class="menu-icon" type="button" (click)="toggleMenu()">
    {{ menuOpen ? '✕' : '☰' }}
  </button>
</nav>
