<section class="courses-page">

  <header class="courses-header">
    <span>OUR COURSES</span>

    <h1>Learn. Grow. Achieve.</h1>

    <p>
      Practical courses, exam preparation, digital skills,
      professional training, and career development.
    </p>
  </header>


 


  <div class="courses-grid">

    @for (course of courses; track course.id) {

      <article
        class="course-card"
        [class.open]="openCourse === course.id"
      >

        <div class="course-icon">
          {{ course.icon }}
        </div>

        <span class="course-tag">
          {{ course.tag }}
        </span>

        <h3>
          {{ course.projectName }}
        </h3>


        <div class="course-price">

          @if (course.oldPrice) {
            <span class="old-price">
              {{ course.oldPrice }}
            </span>
          }

          @if (course.newPrice) {
            <span class="new-price">
              {{ course.newPrice }}
            </span>
          }

        </div>


        <button
          type="button"
          class="course-details-btn"
          (click)="toggleCourse(course.id!)"
        >

          <span>
            {{
              openCourse === course.id
                ? 'Hide Details'
                : 'View Details'
            }}
          </span>

          <span class="details-icon">
            {{
              openCourse === course.id
                ? '−'
                : '+'
            }}
          </span>

        </button>


        <div
          class="course-details"
          [class.show]="openCourse === course.id"
        >

          <ul>

            @if (course.duration) {
              <li>{{ course.duration }}</li>
            }

            @if (course.detail1) {
              <li>{{ course.detail1 }}</li>
            }

            @if (course.detail2) {
              <li>{{ course.detail2 }}</li>
            }

            @if (course.detail3) {
              <li>{{ course.detail3 }}</li>
            }

            @if (course.detail4) {
              <li>{{ course.detail4 }}</li>
            }

          </ul>

        </div>


        <a
          href="#"
          (click)="goToWhatsApp($event, course)"
        >
          {{ course.buttonText || 'Enroll Now' }} →
        </a>

      </article>

    }

  </div>

</section>